@model WebApp.Models.Typ

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@if (Session["Admin"] != null)
{
    <div class="section">
        <div id="section_title">@ViewBag.Title</div>
        <div id="section_text">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <table>
                    <tr>
                        <td>@Html.LabelFor(model => model.Nazwa)</td>
                        <td>@Html.EditorFor(model => model.Nazwa)</td>
                        <td>@Html.ValidationMessageFor(model => model.Nazwa)</td>
                    </tr>
                </table>
                <input type="submit" value="Create" />

            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
}
