@model WebApp.Models.Table
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<div class="section">
    <div id="section_title">@ViewBag.Title</div>
    <div id="section_text">
        @using (Html.BeginForm("Login", "Account", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true)
            <table>
                <tr>
                    <td>@Html.LabelFor(a => a.Login)</td>
                    <td>@Html.TextBoxFor(a => a.Login)</td>
                    <td>@Html.ValidationMessageFor(a => a.Login)</td>
                </tr>
                <tr>
                    <td>@Html.LabelFor(a => a.Password)</td>
                    <td>@Html.PasswordFor(a => a.Password)</td>
                    <td>@Html.ValidationMessageFor(a => a.Password)</td>
                </tr>
            </table>
            <input type="submit" value="Zaloguj" />
        }
    </div>
</div>

