@model WebApp.Models.Raid

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

@if (Session["Zalogowany"] != null)
{
    <div class="section">
        <div id="section_title">@ViewBag.Title</div>
        <div id="section_text">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                @Html.HiddenFor(model => model.Id)

                <table>
                    <tr>
                      <td>@Html.LabelFor(model => model.Nazwa)</td>
                      <td>@Html.EditorFor(model => model.Nazwa)</td>
                      <td>@Html.ValidationMessageFor(model => model.Nazwa)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.LokacjaId)</td>
                        <td>@Html.DropDownList("LokacjaId")</td>
                        <td>@Html.ValidationMessageFor(model => model.LokacjaId)</td>
                    </tr>
                    <tr>
                        <td>@Html.LabelFor(model => model.TypId)</td>
                        <td>@Html.DropDownList("TypId")</td>
                        <td>@Html.ValidationMessageFor(model => model.TypId)</td>
                    </tr>
                </table>
                <input type="submit" value="Save" />
            }

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
        </div>
    </div>
}